<h1>New article</h1>

<%= simple_form_for(@article) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit :class => "btn btn-success" %>
<% end %>

<hr>

<%= link_to "â† Back to the list", articles_path %>
