<h1 class="mt-4 show-title">
  <%= @article.title %>
  <%= link_to "âœŽ", edit_article_path %>
  <%= link_to "ðŸ—‘", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
</h1>

<hr>

<p><%= @article.content %></p>

<hr>

<%= link_to "â† Back to the list", articles_path %>
