<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to "Wikifabinimous", articles_path, :class => "navbar-brand" %>
      <%= link_to "New Article", new_article_path %>
    </nav>

    <div class="container">
      <div class="row d-flex flex-column">
        <div class="col-8 w-100 justify-content-center">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
